{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="header">
                <h1>Profiles</h1>
                <h2><a href="profiles/edit">Edit</a> | <a href="profiles/editmq">Edit MQ</a></h2>
            </div>
            <div id="profiles">
                {% for profile in profiles %}
                    <div class="profile">
                        {% include 'default/profile_partial.html.twig' with {'profile': profile} only %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
