{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="header">
                <h1><span>Edit Profile {{ profile.id }}</h1>
            </div>
            <div id="profile">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
